:root{
	--page-bg: #ffffff;
	--inner-bg: #eeeeee;
	--darker-bg: #dddddd;
	
	--default-percent-size: 12;
	--default-percent-font: "Arial Black";
	
	--food-grocery-size: var(--default-percent-size);
	--food-takeout-size: var(--default-percent-size);
	--food-convenience-size: var(--default-percent-size);
	--one-time-important-size: var(--default-percent-size);
	--one-time-unimportant-size: var(--default-percent-size);
	--recurring-important-size: var(--default-percent-size);
	--recurring-unimportant-size: var(--default-percent-size);
	
	--food-grocery-color: #9339FF;
	--food-takeout-color: #53ff19;
	--food-convenience-color: #ff9900;
	--one-time-important-color: #f1c232;
	--one-time-unimportant-color: #3d85c6;
	--recurring-important-color: #00e2ff;
	--recurring-unimportant-color: #8fce00;
	
	--inner-margin: 0.2vw;
}

body {
	/*background-color: #ccccff;*/
	background-color: var(--page-bg);
	font-family: Arial, sans-serif;
}

#total-spend-value{
	font-family: var(--default-percent-font);
	font-size: var(--food-grocery-size);
}

#food-grocery-percent{
	font-family: var(--default-percent-font);
	font-size: var(--food-grocery-size);
	color: var(--food-grocery-color);
}
#food-takeout-percent{
	font-family: var(--default-percent-font);
	font-size: var(--food-takeout-size);
	color: var(--food-takeout-color);
}
#food-convenience-percent{
	font-family: var(--default-percent-font);
	font-size: var(--food-convenience-size);
	color: var(--food-convenience-color);
}
#one-time-important-percent{
	font-family: var(--default-percent-font);
	font-size: var(--one-time-important-size);
	color: var(--one-time-important-color);
}
#one-time-unimportant-percent{
	font-family: var(--default-percent-font);
	font-size: var(--one-time-unimportant-size);
	color: var(--one-time-unimportant-color);
}
#recurring-important-percent{
	font-family: var(--default-percent-font);
	font-size: var(--recurring-important-size);
	color: var(--recurring-important-color);
}
#recurring-unimportant-percent{
	font-family: var(--default-percent-font);
	font-size: var(--recurring-unimportant-size);
	color: var(--recurring-unimportant-color);
}

.food-grocery-color{
	color: var(--food-grocery-color);
	font-weight: bold;
}
.food-takeout-color{
	color: var(--food-takeout-color);
	font-weight: bold;
}
.food-convenience-color{
	color: var(--food-convenience-color);
	font-weight: bold;
}
.one-time-important-color{
	color: var(--one-time-important-color);
	font-weight: bold;
}
.one-time-unimportant-color{
	color: var(--one-time-unimportant-color);
	font-weight: bold;
}
.recurring-important-color{
	color: var(--recurring-important-color);
	font-weight: bold;
}
.recurring-unimportant-color{
	color: var(--recurring-unimportant-color);
	font-weight: bold;
}

h3{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0.5vw;
	font-size: 1.3vw;
	font-style: italic;
}

@media (min-width: 1024px){
	#pagecontainer{
		margin-left: auto;
		margin-right:auto;
		
		width: 69vw;
		
		background-color: var(--inner-bg);
		border-width: 4px;
		border-color: #000000;
		border-style: dashed;
		
		padding-left: var(--inner-margin);
		padding-right: var(--inner-margin);
	}
	
	#language-select{
		margin-right: 0px;
		margin-left: auto;
		text-align: right;
	}
	
	a {
		color: #222222;
	}
	a.visited{
		color: #222222;
	}
	
	#percentages-display{
		margin-left: auto;
		margin-right: auto;
		width: 52vw;
	}
	
	.breakdown-item-container{
		display:flex;
		align-items: center;
	}
	
	h1{
		text-align: center;
		font-size: 5vw;
		margin-top: 2vw;
		margin-bottom: 1vw;
	}
	
	#dateform{
		width: 40vw;
		margin-left: auto;
		margin-right: auto;
		/*background-color: #fe8723;*/
		display: flex;
		font-size: 14pt;
	}
	
	.datelabel{
		margin-left: auto;
		margin-right: auto;
	}
	
	#new-item-form{
	}
	
	.flex-row{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 1vw;
	}
	
	#new-item-form select{
		width: 15em;
	}
	
	#new-item-form .costinput{
		width: 6em;
	}
	
	#total-spend-value{
		font-size: 20;
	}
}

